.add-todo-btn {
  position: fixed;
  bottom: 35px;
  right: 35px;
  font-size: 30px;
  border-radius: 54px;
  height: 70px;
  width: 70px;
}
@media (max-width: 768px) {
  .add-todo-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 19px;
    border-radius: 54px;
    height: 40px;
    width: 40px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}
